<template>
  <the-form></the-form>
</template>

<script lang="js">
import TheForm from './components/TheForm.vue';

export default {
  components: {
    TheForm
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #292929;
}
</style>
